<!DOCTYPE html>
<html>
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VBK1VFX4TJ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-VBK1VFX4TJ');
    </script>
    <meta charset="utf-8">
    <title>$title$ | an odd fellow</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@roronya">
    <meta name="twitter:creator" content="@roronya">
    <meta property="og:site_name" content="an odd fellow">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://roronya.github.io/blog/$slug$">
    <meta property="og:image" content="https://roronya.github.io/blog/images/roronya.jpeg">
    <meta property="og:title" content="$title$ | an odd fellow">
    <meta property="og:description" content="$description$">
    <meta name="description" content="$description$">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="/blog/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
    </header>
    <main>
      <p class="date">$date$</p>
      $body$
      <a href="./index.html">戻る</a>
    </main>
    <footer>
      <a href="https://twitter.com/roronya">Twitter</a>
    </footer>
  </body>
</html>
